<h1>編集 : <%= @message.id %></h1>

<%= render 'messages/form_message', message: @message %>

<%= link_to '詳細へ', message_path(@message), class: 'btn btn-secondary' %> 
<%= link_to '一覧へ', root_path, class: 'btn btn-secondary' %>