<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Messageboard</a>
      <%= link_to '新規作成', new_message_path, class: 'd-flex btn btn-primary'%>
    </div>
  </nav>
</header>